@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

.numbers {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}

body {
  font-family: "Life Savers";
  font-optical-sizing: auto;
  font-weight: 800;
  padding: 0;
  margin: 0;
  background-color: blueviolet;
  --pastel-blue: hsl(200, 50%, 70%);
  --darker-blue: hsl(200, 60%, 50%);
  --pastel-lavender: hsl(270, 45%, 75%);
  --darker-purple: hsl(270, 55%, 55%);
  --pastel-pink: hsl(340, 50%, 70%);
  --darker-pink: hsl(340, 60%, 50%);
  --pastel-mint: hsl(170, 45%, 70%);
  --darker-teal: hsl(170, 55%, 50%);
  --pastel-coral: hsl(15, 50%, 70%);
  --darker-coral: hsl(15, 60%, 50%);

  --blue: hwb(204.42deg 0% 0%);
  --burnt-orange: #cc5500;

  overflow: hidden;
}

svg#main {
  width: 100vw;
  height: 100vh;
  --base-stroke-width: 0.05px;
}

line#for-scale {
  display: none;
  stroke: orange;
  stroke-width: var(--base-stroke-width);
}

path[data-reference] {
  fill: none;
  stroke-width: calc(0 * var(--base-stroke-width) / var(--path-scale) * 0.25);
  stroke-linecap: round;
  stroke-linejoin: round;
}

path[data-live] {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: calc(var(--base-stroke-width) / var(--path-scale) * 4.5);
  stroke: var(--color);
}

path[data-live].outline {
  stroke-width: calc(var(--base-stroke-width) / var(--path-scale) * 1.75);
  stroke: none;
}

path[data-live].offset-blur {
  --angle: 30deg;
  --offset: calc(var(--base-stroke-width) / var(--path-scale) * 8);
  transform: translate(
    calc(var(--offset) * cos(var(--angle))),
    calc(var(--offset) * sin(var(--angle)))
  );
  stroke-width: calc(var(--base-stroke-width) / var(--path-scale) * 5);
  stroke: color(from var(--blur-color) srgb r g b / 0.33);
  /*  mask: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%); */ /* Natural fade */
}

body {
  --unit: calc(min(100vw / 16, 100vh / 9));
}

#line-text path {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.25;
}

.iteration-1-text {
  fill: none;
  stroke: red;
  stroke-width: 0.045;
  transform: translateY(0.375px) translateX(0.5px);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.iteration-2-text {
  fill: none;
  stroke: white;
  stroke-width: 0.045;
  transform: translateY(0.375px) translateX(7.9375px);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.iteration-3-text {
  fill: none;
  stroke: var(--blue);
  stroke-width: 0.045;
  transform: translateY(0.375px) translateX(12px);
  stroke-linecap: round;
  stroke-linejoin: round;
}

#peano-1-main {
  fill: none;
  stroke: red;
  stroke-width: 0.045;
  stroke-linecap: square;
  transform: translate(8.5px, 1.5px) scale(7);
}

#peano-2-main {
  fill: none;
  stroke: white;
  stroke-width: 0.03;
  stroke-linecap: square;
  transform: translate(8.5px, 1.5px) scale(7);
}

#peano-3-main {
  fill: none;
  stroke: var(--blue);
  stroke-width: 0.015;
  stroke-linecap: square;
  transform: translate(8.5px, 1.5px) scale(7);
}

g.handwriting > path {
  --offset: replace-me;
  --length: replace-me;
  --position: calc(
    clamp(-0.0001, var(--total-position) - var(--offset), var(--length))
  );
  stroke-dasharray: 0, calc(var(--length) + 1), calc(var(--length) + 1), 0;
  stroke-dashoffset: calc(0 - var(--position));
}

#placeholder1 {
  fill: hsl(210, 100%, 50%);
  font-size: 2px;
  transform: translate(0.25px, 2px);
}

#placeholder2 {
  fill: hsl(30, 100%, 50%);
  font-size: 2px;
  transform: translate(2.2px, 8.7px);
}

[data-fi] {
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}

[data-fi="1"] {
  stroke: red;
  transform: translateX(0px) translateY(1.25px);
  stroke-width: 0.06;
}
[data-fi="2"] {
  stroke: white;
  transform: translateX(5.5px) translateY(1.25px);
  stroke-width: 0.04;
}
[data-fi="3"] {
  stroke: var(--blue);
  transform: translateX(11px) translateY(1.25px);
  stroke-width: 0.02;
}

#handwriting-less-detail {
  fill: none;
  stroke: red;
  stroke-width: 0.045;
  transform: translateY(0.375px) translateX(0.95px);
  stroke-linecap: round;
  stroke-linejoin: round;
}
#handwriting-some-detail {
  fill: none;
  stroke: white;
  stroke-width: 0.045;
  transform: translateY(0.375px) translateX(6.2px);
  stroke-linecap: round;
  stroke-linejoin: round;
}
#handwriting-more-detail {
  fill: none;
  stroke: var(--blue);
  stroke-width: 0.045;
  transform: translateY(0.375px) translateX(11.65px);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.way-more-detail {
  transform: translateX(5px) translateY(0.18px) scale(3) !important;
  stroke-width: 0.03333;
}
